{% for product in products %}
    <div id="product-{{ product.id }}"
         class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ product.category.name }}">
        <!-- Block2 -->
        <div class="block2">
            <div class="block2-pic hov-img0">
                <img src="{{ vich_uploader_asset(product.images.first, 'imageFile') | imagine_filter('medium') }}"
                     alt="{{ product.name }}">

                <a href="#"
                   class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
                   data-id="{{ product.id }}"
                   data-name="{{ product.name }}"
                   data-description="{{ product.description|raw }}"
                   data-price="{{ (product.price / 100) |number_format(2, '.', ',') }} KWD"
                   data-discount="{{ (product.discountPrice / 100) |number_format(2, '.', ',') }} KWD"
                   {% for catalog in  product.catalogs %} data-catalog{{ loop.index }}="{{ catalog.id }}" {% endfor %}
                   {% for catalog in  product.catalogs %} data-size{{ loop.index }}="{{ catalog.size }}" {% endfor %}
                   {% for catalog in  product.catalogs %} data-quantity{{ loop.index }}="{{ catalog.quantity }}" {% endfor %}
                   {% for image in  product.images %} data-image{{ loop.index }}="{{ image }}" {% endfor %}
                   data-href-a ="{{ path('add.cart', { locale: 'en' }) }}"
                >
                    Quick View
                </a>
            </div>

            <div class="block2-txt flex-w flex-t p-t-14">
                <div class="block2-txt-child1 flex-col-l ">
                    <a href="{{ path('product', {locale: 'en', 'slug': product.slug }) }}"
                       class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                        {{ product.name|upper }}
                    </a>

                    {% if product.discountPrice != null %}
                    <div class="style-1">
                    <del>
                        <span class="stext-105 cl3">
									{{ (product.price / 100) |number_format(2, '.', ',') }} KWD
								</span>
                    </del>
                    <ins>
                        <span class="stext-105 cl3">
									{{ (product.discountPrice / 100) |number_format(2, '.', ',') }} KWD
								</span>
                    </ins>
                    </div>
                    {% else %}
                        <ins>
                        <span class="stext-105 cl3">
									{{ (product.price / 100) |number_format(2, '.', ',') }} KWD
								</span>
                        </ins>
                    {% endif %}
                </div>


                    <div class="block2-txt-child2 flex-r p-t-3">
                        <a {% if wish[product.id] is defined and wish[product.id] == 1  %} href="{{ path('delete.wishlist', { locale: 'en', id:product.id, route:page }) }}" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2 js-addedwish-b2" {% else %} href="{{ path('add.wishlist', { locale: 'en', id:product.id }) }}" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" {% endif %}>

                            <img class="icon-heart1 dis-block trans-04"
                                 src="{{ '/media/images/icons/icon-heart-01.png' }}" alt="ICON">

                            <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                     src="{{ '/media/images/icons/icon-heart-02.png' }}" alt="ICON">

                        </a>
                    </div>

            </div>
        </div>
    </div>
    <style>
        .style-1 del {
            color: #D97591;
            text-decoration: none;
            position: relative;
            display: inline-block;
        }
        .style-1 del:before {
            content: " ";
            display: block;
            width: 100%;
            border-top: 2px solid #D97591;
            height: 12px;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: rotate(-7deg);
        }
        .style-1 ins {
            color: green;
            text-decoration: none;
        }
    </style>
{% endfor %}