<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" role="presentation">

<table width="100%" border="0" cellpadding="0" cellspacing="0">

    <tbody>

    <tr>

        <td>Subject</td>
        <td><a href="{{ path('home') }}">{{ contact.subject }}</a></td>

    </tr>

    <tr>

        <td>Name</td>
        <td>{{ contact.name }}</td>

    </tr>

    <tr>

        <td>Email</td>
        <td>{{ contact.email }}</td>

    </tr>

    <tr>

        <td>Message</td>
        <td>{{ contact.message }}</td>

    </tr>

    </tbody>

</table>

</body>