{% extends 'baseAr.html.twig' %}

{% block body %}

    <!--================Categories Banner Area =================-->
    <section class="solid_banner_area">
        <div class="container">
            <div class="solid_banner_inner">
                <h3>اتصل بنا</h3>
                <ul>
                    <li><a href="{{ path('home', {locale: 'ar'}) }}">الصفحة الرئيسية</a></li>
                    <li>اتصل بنا</li>
                </ul>
            </div>
        </div>
    </section>
    <!--================End Categories Banner Area =================-->

    <!-- Content page -->
    <section class="bg0 p-t-104 p-b-116">
        <div class="container">
            <div class="flex-w flex-tr">
                <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                    {{ form_start(form) }}
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        أرسل لنا رسالة
                    </h4>

                    {% for message in app.flashes('success')  %}
                        <div class="alert alert-success text-right">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{ form_row(form.name, {'attr': {'class': 'stext-111 cl2 plh3 size-116 p-l-30 p-r-62', 'placeholder':'اسمك'}}) }}
                        <img class="how-pos4 pointer-none" src="{{ '/media/images/icons/icon-email.png' }}" alt="ICON">
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{ form_row(form.email, {'attr': {'class': 'stext-111 cl2 plh3 size-116 p-l-30 p-r-62', 'placeholder':'عنوان بريدك الإلكتروني'}}) }}
                        <img class="how-pos4 pointer-none" src="{{ '/media/images/icons/icon-email.png' }}" alt="ICON">
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{ form_row(form.subject, {'attr': {'class': 'stext-111 cl2 plh3 size-116 p-l-30 p-r-62', 'placeholder':'موضوعك'}}) }}
                        <img class="how-pos4 pointer-none" src="{{ '/media/images/icons/icon-email.png' }}" alt="ICON">
                    </div>

                    <div class="bor8 m-b-30">
                        {{ form_row(form.message, {'attr': {'class': 'stext-111 cl2 plh3 size-120 p-lr-25 p-tb-28', 'placeholder':'كيف يمكن أن نساعد؟'}}) }}
                    </div>

                    <button type="submit" name="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        ارسل
                    </button>
                    {{ form_end(form) }}
                </div>

                <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                    <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

                        <div class="size-212 p-t-2 text-right">
							<span class="mtext-110 cl2">
								العنوان
							</span>

                            <p class="stext-115 cl6 size-213 p-t-18">
                                برج النصار دور 10 <br> مدينة الكويت - الكويت
                            </p>
                        </div>
                    </div>

                    <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

                        <div class="size-212 p-t-2 text-right">
							<span class="mtext-110 cl2">
								اتصل الان
							</span>

                            <p class="stext-115 cl1 size-213 p-t-18">
                                0xxx xx xx xx
                            </p>
                        </div>
                    </div>

                    <div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

                        <div class="size-212 p-t-2 text-right">
							<span class="mtext-110 cl2">
								الدعم الفني
							</span>

                            <p class="stext-115 cl1 size-213 p-t-18">
                                info@shoppinga.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Map -->
    <div class="map">
        <div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787" data-pin="images/icons/pin.png" data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
    </div>

{% endblock %}

