{% extends 'baseAr.html.twig' %}

{% block body %}

    <!--================Categories Banner Area =================-->
    <section class="solid_banner_area">
        <div class="container">
            <div class="solid_banner_inner">
                <h3>تسجيل الدخول</h3>
                <ul>
                    <li><a href="{{ path('home.ar') }}">الصفحة الرئيسية</a></li>
                    <li><a>تسجيل الدخول</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--================End Categories Banner Area =================-->

    <!--================login Area =================-->
    <section class="login_area p-t-100 p-b-100">
        <div class="container">
            <div class="login_inner">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="login_title">
                            <h2>تسجيل الدخول إلى حسابك</h2>
                            <p>قم بتسجيل الدخول إلى حسابك لاكتشاف جميع الميزات الرائعة في هذا النموذج.</p>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.message | trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <form class="login_form row" action="{{ path('login.ar') }}" method="post">
                            <div class="col-lg-12 form-group">
                                <input class="form-control" type="text" name="_username" placeholder="بريد إلكتروني" value="{{ last_username }}">
                            </div>
                            <div class="col-lg-12 form-group">
                                <input class="form-control" type="password" name="_password" placeholder="كلمة المرور">
                            </div>
                            <div class="col-lg-12 form-group">
                                <div class="creat_account">
                                    <a href="{{ path('register') }}"><h4>إنشاء حساب...</h4></a>
                                </div>
                                <div>
                                    <a href="{{ path('app_forgot_password_request') }}"><h4>نسيت رقمك السري ؟</h4></a>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <button type="submit" value="submit" class="btn update_btn w-full">دخول</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End login Area =================-->

{% endblock %}

