{% extends 'base.html.twig' %}

{% block body %}

    <!--================Categories Banner Area =================-->
    <section class="solid_banner_area">
        <div class="container">
            <div class="solid_banner_inner">
                <h3>Register</h3>
                <ul>
                    <li><a href="{{ path('home', { locale: 'en' }) }}">Home</a></li>
                    <li><a href="">Register</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--================End Categories Banner Area =================-->

    <!--================login Area =================-->
    <section class="login_area p-t-100 p-b-100">
        <div class="container">
            <div class="login_inner">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="login_title">
                            <h2>create account</h2>
                            <p>Follow the steps below to create email account enjoy the great mail.com emailing experience. Vivamus tempus risus vel felis condimentum, non vehicula est iaculis.</p>
                        </div>
                        {% for message in app.flashes('success')  %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {{ form_start(form, {'attr': {'class': 'login_form row justify-content-center'}}) }}
                        <form class="login_form row justify-content-center">
                            <div class="col-lg-6 form-group">
                                {{ form_row(form.fullName, {'attr': {'class': 'form-control', 'placeholder':'Full Name'}}) }}
                            </div>
                            <div class="col-lg-6 form-group">
                                {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder':'Email'}}) }}
                            </div>
                            <div class="col-lg-6 form-group">
                                {{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder':'User Name'}}) }}
                            </div>
                            <div class="col-lg-6 form-group">
                                {{ form_row(form.phone, {'attr': {'class': 'form-control', 'placeholder':'Phone'}}) }}
                            </div>
                            <div class="col-lg-6 form-group">
                                {{ form_row(form.password.first, {'attr': {'class': 'form-control', 'placeholder':'Password'}}) }}
                            </div>
                            <div class="col-lg-6 form-group">
                                {{ form_row(form.password.second, {'attr': {'class': 'form-control', 'placeholder':'Re-Password'}}) }}
                            </div>
                            <div class="col-lg-6 form-group">
                                <button type="submit" value="submit" class="btn subs_btn w-full">register now</button>
                            </div>
                            {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End login Area =================-->

{% endblock %}



