{% extends 'baseAr.html.twig' %}

{% block body %}

    <!--================Categories Banner Area =================-->
    <section class="solid_banner_area">
        <div class="container">
            <div class="solid_banner_inner">
                <h3>إعادة تعيين كلمة المرور</h3>
                <ul>
                    <li><a href="#">الصفحة الرئيسية</a></li>
                    <li><a href="track.html">إعادة تعيين كلمة المرور</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--================End Categories Banner Area =================-->

    <!--================login Area =================-->
    <section class="login_area p-t-100 p-b-100">
        <div class="container">
            <div class="login_inner">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="login_title">
                            <h2>إعادة تعيين كلمة المرور لحسابك</h2>
                            <p>قم بتسجيل الدخول إلى حسابك لاكتشاف جميع الميزات الرائعة في هذا النموذج.</p>
                        </div>
{#                        {% if error %}#}
{#                            <div class="alert alert-danger">#}
{#                                {{ error.message | trans(error.messageData, 'security') }}#}
{#                            </div>#}
{#                        {% endif %}#}
                        {{ form_start(resetForm, {'attr': {'class': 'login_form row'}}) }}
                            <div class="col-lg-12 form-group">
                                {{ form_row(resetForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder':'كلمة مرور جديدة'}}) }}
                            </div>
                        <div class="col-lg-12 form-group">
                            {{ form_row(resetForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder':'تأكيد كلمة المرور الجديدة'}}) }}
                        </div>
                            <div class="col-lg-12 form-group">
                                <button type="submit" value="submit" class="btn update_btn w-full">إعادة ضبط</button>
                            </div>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End login Area =================-->

{% endblock %}

