{% extends 'baseAr.html.twig' %}
{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block body %}
{% set total = null %}
    {% for orderDetail in cart2order %}
     {% if orderDetail.catalog.product.discountPrice != null %}
        {% set total = total + ((orderDetail.quantity * orderDetail.catalog.product.discountPrice)) %}
        {% else %}
        {% set total = total + ((orderDetail.quantity * orderDetail.catalog.product.price)) %}
        {% endif %}
    {% endfor %}
    <!--================Categories Banner Area =================-->
    <section class="solid_banner_area">
        <div class="container">
            <div class="solid_banner_inner">
                <h3>عربة التسوق</h3>
                <ul>
                 <li><a href="#">الصفحة الرئيسية</a></li>
                    <li><a>الدفع</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--================End Categories Banner Area =================-->
<div class="container">
    <div class="row row-pb-md  justify-content-center p-t-75">
        <div class="col-md-10">
            <div class="process-wrap">
                <div class="process text-center active">
                    <p><span>01</span></p>
                    <h3>عربة التسوق</h3>
                </div>
                <div class="process text-center active">
                    <p><span>02</span></p>
                    <h3>الدفع</h3>
                </div>
                <div class="process text-center">
                    <p><span>03</span></p>
                    <h3>الطلب جاهز</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Check Out -->
    <section class="order_details p_120">
        <div class="container">
            <div class="row order_d_inner">
                <div class="col-lg-4 text-right">
                    <div class="details_item">
                        <h4>معلومات الطلب</h4>
                        <ul class="list">
                            <li><a href="#"><span>رقم الطلب</span> : {{ order.reference }}</a></li>
                            <li><a href="#"><span>  تاريخ الطلب</span> : {{ order.createdAt|date("m/d/Y") }}</a></li>
                            <li><a href="#"><span>مجموع</span> : {{ (total + order.deliveryPrice)/100|number_format(2, '.', ',') ~ currency_ar }}</a></li>
                            <li><a href="#"><span>سعر تسليم</span> : {{ order.deliveryPrice/100|number_format(2, '.', ',') ~ currency_ar }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <div class="details_item">
                        <h4>معلومات الفواتير</h4>
                        <ul class="list">
                            <li><a href="#"><span>اسم</span> : {{ order.shippingFirstName }}</a></li>
                            <li><a href="#"><span>اسم العائلة</span> : {{ order.shippingLastName }}</a></li>
                            <li><a href="#"><span>بريد إلكتروني</span> : {{ order.shippingEmail }}</a></li>
                            <li><a href="#"><span>هاتف </span> : {{ order.shippingPhone }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <div class="details_item">
                        <h4>عنوان وصول الفواتير</h4>
                        <ul class="list">
                            <li><a href="#"><span>شارع</span> : {{ order.shippingAddress }}</a></li>
                            <li><a href="#"><span>مدينة</span> : {{ order.shippingCity }}</a></li>
                            <li><a href="#"><span>محافظة</span> : {{ order.shippingProvince }}</a></li>
                            <li><a href="#"><span>الرمز البريدي </span> : {{ order.shippingPostalCode }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="order_details_table text-right">
                <h2>تفاصيل الطلب</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">المنتج</th>
                            <th scope="col">الحجم</th>
                            <th scope="col">كمية</th>
                            <th scope="col">مجموع</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for orderDetail in cart2order %}
                            <tr>
                                <td>
                                    <p>{{ orderDetail.catalog.product.nameAr }}</p>
                                </td>
                                <td>
                                    <p>{{ orderDetail.catalog.size }}</p>
                                </td>
                                <td>
                                    <h5> {{ orderDetail.quantity }} X </h5>
                                </td>
                                <td>
                                    <p>
                                    {% if orderDetail.catalog.product.discountPrice != null %}
                                    {{ orderDetail.catalog.product.discountPrice * orderDetail.quantity /100|number_format(2, '.', ',') ~ currency_ar }}
                                    {% else %}
                                     {{ orderDetail.catalog.product.price * orderDetail.quantity /100|number_format(2, '.', ',') ~ currency_ar }}
                                    {% endif %}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <h4>المجموع الفرعي</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>{{ (total)/100|number_format(2, '.', ',') ~ currency_ar }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>توصيل</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p> {{ (order.deliveryPrice)/100|number_format(2, '.', ',') ~ currency_ar }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>مجموع</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>{{ (total + order.deliveryPrice)/100|number_format(2, '.', ',') ~ currency_ar }}</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="row">
                <div class="col-md-12 p-all-40">
                        <a id="checkout-button" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            ضع طلبية
                        </a>
                        {{ form_start(form, {action: path('order')}) }}
                        {{ form_row(form.id) }}
                        <button type="submit" class="flex-c-m stext-101 cl2 size-119 w-full bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                            عودة
                        </button>

                        {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
    </section>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_test_51IU51mLg5TZnbiRrqWBt7NVQhhSsMbzK33P5nDrDkEZbMhZyO3NCThWs6mX7T5AxV8jSptmcd639iYqJYzUJBgWn00qv2gkIyj");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/order/create-session/{{ order.id }}", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    if(session.error == 'order'){
                        window.location.replace({{ path('order') }});
                    }else{
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    }
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}